@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    box-shadow: 5px 5px 15px #077033bd; /*Deixar Sombras em volta*/
    margin: auto; /*Centralizar no meio*/
    border-radius: 10px; /*Bordas Aredondadas*/
}
body{
    background-image: linear-gradient(to right, #12E66A,#08FCB3);
}
p {
    text-align: justify; /*Paragrafos alinhados */
}
h1{
    text-align: center;
    color: #32F207;
    box-shadow: 1px 1px 2px #22a305c5;
}
h2 {
    color: #08FCB3;
}